{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('styles/lk.css') }}" rel="stylesheet" />  
{% endblock stylesheets %}

{% block javascripts %}
  {{ parent() }}       
  {# <script defer src="{{ asset('js/menu-modals.js') }}"></script>  #}
  <script defer src="{{ asset('js/headerlk.js') }}"></script>     
  {# <script defer src="js/validation.js"></script>                       #}
{% endblock javascripts %} 

{% block body %}
<!-- Модальное окно обратной связи -->
  <div class="fb">
    <div class="fb__modal">
      <div class="fb__close"></div>
      <div class="fb__container">
        <h1 class="fb__title">НЕ НАШЛИ ОТВЕТА НА СВОЙ ВОПРОС?</h1>
        <h3 class="fb__text">Воспользуйтесь формой, задайте вопрос, и мы лично свяжемся с вами в ближайшее время.</h3>
        {{ form_start(formFeed) }}
        <div class="fb__form" id="fb-form" autocomplete="off">
          <label class="fb__input-label">Ф.И.О.*</label>
          <div class="fb__input-border">
            <label class="input__invisible-shield">
              {# <input class="fb__input input__clear" placeholder="Введите Ф.И.О" type="text" name="namefb" id="namefb"
                maxlength="100" required> #}
                {{ form_row(formFeed.name) }}
              <img class="input-figure input-figure-fb input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
            </label>
          </div>
          <label class="fb__input-label">E-mail*</label>
          <div class="fb__input-border">
            <label class="input__invisible-shield">
            {{ form_row(formFeed.email) }}
              {# <input class="fb__input input__clear" placeholder="Введите E-mail" type="email" maxlength="256"
                name="emailfb" id="emailfb" required> #}
              <img class="input-figure input-figure-fb input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
            </label>
          </div>
          <label class="fb__input-label">Телефон*</label>
          <div class="fb__input-border">
            <label class="input__invisible-shield">
            {{ form_row(formFeed.phone) }}
              {# <input class="fb__input input__clear" placeholder="Введите телефон" maxlength="20" name="phonefb" id="phonefb"
                required> #}
              <img class="input-figure input-figure-fb input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
            </label>
          </div>
          <label class="fb__input-label">Задать вопрос *</label>
          <div class="fb__input-border">
             <label class="input__invisible-shield">
              {# <textarea class="fb__input fb__input-textarea" type="text" name="textarea" id="textarea" maxlength="4000"
                required></textarea> #}
              {{ form_row(formFeed.question) }}
            </label>
          </div>
          <label class="fb__checkbox-label">
            <input class="fb__checkbox" type="checkbox" id="checkbox1" required>
            <span class="fb__fake-checkbox"></span>
            <span class="fb__checkbox-text">Соглашаюсь с условиями <span class="fb__checkbox-text-span">Политики
                конфиденциальности</span></span>
          </label>
          <label class="fb__checkbox-label fb__checkbox-label-second">
            <input class="fb__checkbox" type="checkbox" id="checkbox2" required>
            <span class="fb__fake-checkbox"></span>
            <span class="fb__checkbox-text">Соглашаюсь с условиями <span class="fb__checkbox-text-span">
                Согласия на обработку персональных данных, Согласия Пользователя на обработку персональных данных
              </span></span>
          </label>
          <button class="fb__button" type="submit">Задать вопрос</button>
        </div>
        {{ form_end(formFeed) }}
      </div>
    </div>
  </div>

  <div class="profilelk">
    <div class="profilelk__banner"></div>
    <div class="profilelk__section">
    {{ form_start(formPers) }}
      {# <form action="#" class="profilelk__form" id="profile-form" autocomplete="off"> #}
        <div class="prfoilelk__avatar-container">
          <img class="prfoilelk__avatar" src="./img/avatar.png" alt="аватар" />
        </div>
        <div class="profilelk__form-first-container">
          <div class="profilelk__input-container profilelk__input-container-tablet">
            <label class="profilelk__input-label">Ф.И.О.</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.fio, {"value" : participant.fio }) }}
                {# <input class="profilelk__input input__clear" placeholder="Введите Ф.И.О." type="text" name="nameprofile"
                  id="nameprofile" maxlength="100" value="{{ participant.fio }}" required> #}
                <img class="input-figure input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
              </label>
            </div>
          </div>
          <div class="profilelk__input-container profilelk__input-container-tablet">
            <label class="profilelk__input-label">E-mail</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.email, {"value" : participant.email }) }}
                {# <input class="profilelk__input input__clear" placeholder="Введите E-mail" value="{{ participant.email }}" type="email" maxlength="256"
                  name="emailprofile" id="emailprofile" required> #}
                <img class="input-figure input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
              </label>
            </div>
          </div>
          <div class="profilelk__input-container profilelk__input-container-tablet">
            <label class="profilelk__input-label">Телефон</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.phone, {"value" : participant.phone }) }}
                {# <input class="profilelk__input input__clear" placeholder="Введите телефон" maxlength="20"
                  name="phoneprofile" id="phoneprofile" value="{{ participant.phone }}" required> #}
                <img class="input-figure input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
              </label>
            </div>
          </div>
          <div class="profilelk__input-container profilelk__input-container-tablet">
            <label class="profilelk__input-label">Город</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.city, {"value" : participant.city }) }}
                {# <input class="profilelk__input profilelk__input-city" placeholder="Выберите город" id="cityprofile"
                  type="text" name="cityprofile" value="{{ participant.city }}" readonly required> #}
              </label>
              <img class="input-figure city-button" src="./img/arrow-down.svg" alt="кнопка" />
              <ul class="reg-select reg-select-hidden" name="cities">
                <li class="reg-select-option" data-value="Город 1">Город 1</li>
                <li class="reg-select-option" data-value="Город 2">Город 2</li>
                <li class="reg-select-option" data-value="Город 3">Город 3</li>
                <li class="reg-select-option" data-value="Город 4">Город 4</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="profilelk__form-second-container">
          <div class="profilelk__input-container">
            <label class="profilelk__input-label">ФИО представителя</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.representative, {"value" : participant.representative }) }}
                {# <input class="profilelk__input input__clear" placeholder="Введите ФИО представителя" type="text"
                  name="profnameprofile" id="profnameprofile" maxlength="100" value="{{ participant.representative }}" required> #}
                <img class="input-figure input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
              </label>
            </div>
          </div>
          <div class="profilelk__input-container">
            <label class="profilelk__input-label">Категория</label>
            <div class="profilelk__input-border">
              <label class="input__invisible-shield">
                {{ form_row(formPers.category, {"value" : participant.category }) }}                
                {# <input class="profilelk__input profilelk__input-cat" placeholder="Выберите категорию" id="catprofile"
                  type="text" name="catprofile" value="{{ participant.category }}" required> #}
              </label>
              <img class="input-figure cat-button" src="./img/arrow-down.svg" alt="кнопка" />
              <ul class="reg-select-cat reg-select-cat-hidden" name="cathegory">
                <li class="reg-select-cat-option" data-value="Школьник">Школьник</li>
                <li class="reg-select-cat-option" data-value="Студент">Студент</li>
                <li class="reg-select-cat-option" data-value="Преподаватель">Преподаватель</li>
                <li class="reg-select-cat-option" data-value="Другая категория">Другая категория</li>
              </ul>
            </div>
          </div>
          <div class="profilelk__input-container">
            <label class="profilelk__input-label">Наименование учебного заведения</label>
            <div class="profilelk__input-border profilelk__input-border-span">
              <label class="input__invisible-shield">
                {{ form_row(formPers.school, {"value" : participant.school }) }} 
                {# <input class="profilelk__input profilelk__input-span input__clear"
                  placeholder="Введите наименование учебного заведения" type="text" name="schoolprofile"
                  id="schoolprofile" maxlength="156" value="{{ participant.school }}" required> #}
                <img class="input-figure input-figure-hidden" src="./img/x-circle.svg" alt="кнопка" />
              </label>
            </div>
          </div>
          <button type="submit" class="profilelk__button profilelk__button-first">Сохранить</button>
        </div>
        <div class="profilelk__figure"></div>
      {{ form_end(formPers) }}
      {# </form> #}
    </div>

    <div class="profilelk__pass">
      <h1 class="profilelk__title">СМЕНА ПАРОЛЯ</h1>
      {# {{ form_start(formPass) }} #}
      <form class="profilelk__pass-form" id="profile-pass-form" autocomplete="off">
        <label class="profilelk__input-label">Текущий пароль</label>
        <div class="profilelk__input-border">
          <label class="input__invisible-shield">            
            <input class="profilelk__input input__pass" placeholder="Введите текущий пароль" type="password"
              minlength="6" maxlength="64" id="passprofile" name="passprofile" required>
          </label>
          <img class="input-figure input-figure-eye" src="./img/password-eye.svg" alt="кнопка" />
        </div>
        <label class="profilelk__input-label">Новый пароль</label>
        <div class="profilelk__input-border">
          <label class="input__invisible-shield">
            {# {{ form_row(formPass.password) }} #}
            <input class="profilelk__input input__pass" placeholder="Новый пароль" type="password" minlength="6"
              maxlength="64" id="newpassprofile" name="newpassprofile" required>
          </label>
          <img class="input-figure input-figure-eye" src="./img/password-eye.svg" alt="кнопка" />
        </div>
        <div class="profilelk__input-border-pass">
          <div class="profilelk__input-border">
            <label class="input__invisible-shield">
              <input class="profilelk__input input__pass" placeholder="Повторите новый пароль" type="password"
                minlength="6" maxlength="64" id="rep-newpassproflie" name="rep-newpassproflie" required>
            </label>
            <img class="input-figure input-figure-eye" src="./img/password-eye.svg" alt="кнопка" />
          </div>
        </div>
        <button type="submit" class="profilelk__button profilelk__button-pass">Сохранить</button>
      </form>
      {# {{ form_end(formPass) }} #}
    </div>
  </div>

{% endblock %}
