{% extends 'base.html.twig' %}

{% block title %}Материалы{% endblock %}
{% block stylesheets %}
    {# {{ parent() }} #}
    <link href="{{ asset('styles/materials.css') }}" rel="stylesheet"/>
    <link href="{{ asset('styles/normalize.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/modals.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}
{% block javascripts %}
    {# {{ parent() }} #}
    <script defer src="{{ asset('js/materials.js') }}"></script> 
    <script defer src="{{ asset('js/menu-modals.js') }}"></script> 
{% endblock javascripts %}

{% block body %}

<div class="materials_img_close"> <img src="img/close.svg" alt=""></div>

  <section class="main-block-materials">

    <div class="materials-hero container flex">
      <div class="materials-hero-content">
        <div class="materials-hero-wrap">
          <p class="section-title materials-hero-title">Инновации</p>
          <p class="section-title materials-hero-title">вокруг нас</p>
          <p class="materials-hero-subtitle">погрузись в мир робототехники, VR и AR</p>
        </div>

        <div class="materials-hero-about">
          <picture>
            <source srcset="img/materials-hero-tablet.png" media="(max-width: 1024px)">
            <img src="img/material-hero.png" alt="">
          </picture>

          <p class="materials-hero-text">Робототехника, мехатроника, VR и AR — передовые технологии, которые
            стремительно развиваются, меняя мир.
            В материалах раздела представлены статьи о достижениях в указанных областях. Будьте готовы углубиться
            в мир роботов, умных машин, виртуальной и дополненной реальности.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- --------------------------- -->

  <div class="materials-footer-background">
    <section class="materials">
      <div class="container">
        <div class="caption-position">
          <div class="caption-top">
            <p class="caption-name">Рубрики</p>
          </div>
          <div class="caption-bottom opacity">
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio" checked>
              <span class="reg__fake-radio"></span>
              <span class="caption-text">История развития робототехники</span>
            </label>
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio">
              <span class="reg__fake-radio"></span>
              <span class="caption-text">Робототехника: прорывные технологии</span>
            </label>
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio">
              <span class="reg__fake-radio"></span>
              <span class="caption-text">Занимательная робототехника</span>
            </label>
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio">
              <span class="reg__fake-radio"></span>
              <span class="caption-text">Технологии будущего</span>
            </label>
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio">
              <span class="reg__fake-radio"></span>
              <span class="caption-text">Тренды робототехники в России</span>
            </label>
            <label class="reg__radio-label caption-label">
              <input class="reg__radio" name="age" type="radio">
              <span class="reg__fake-radio"></span>
              <span class="caption-text">Образовательные материалы</span>
            </label>
          </div>
        </div>

        <div class="materials-info flex">
          <div class="materials_name">
            <div class="cards-wrap">
            {% for material in materials %} 
              <div class="materials_cards">
                <img class="materials-cards-img" src="uploads/materials/icons/{{ material.icon }}" alt="">
                <div>
                  <h3 class="materials-cards-name">{{ material.name }}</h3>
                  <p class="materials-cards-about">{{ material.shorttext }}</p>
                </div>
              </div>
            {% endfor %}           

            </div>
          </div>

          <div id="start" class="materials_information">
          {% for material in materials %}
            <div class="materials_content">

              <div class="materials-information-about">
                <h2 class="materials-information-title">{{ material.name }}</h2>
              </div>

              <div class="materials-information-about">
                <p class="materials-information-text">{{ material.shorttext }} </p>
                {# <p class="materials-text-weight materials-information-text">Есть над чем задуматься:</p> #}
                <div class="materials-information-text">{{ material.firstpart|raw }}</div>
              </div>

              <div class="materials-information-img">
                <img class="materials_foto" src="uploads/materials/images/{{ material.firstimg }}" alt="">
              </div>

              <div class="materials-information-img_link">
                <a class="materials-information-photo_caption" href="{{ material.firstlink }}" target="_blank">{{ material.firstimgsign }}</a>
              </div>

              <div class="materials-information-about information-outside">
                <div class="materials-information-text">{{ material.secondpart|raw }}</div>                                             
              </div>

              <div class="materials-information-img">
                <img class="materials_foto" src="uploads/materials/images/{{ material.secondimg }}" alt="">
              </div>   

              <div class="materials-information-img_link">
                <a class="materials-information-photo_caption" href="{{ material.secondlink }}" target="_blank">{{ material.secondimgsign }}</a>
              </div>

              <div class="materials-information-about information-outside">                
                <div class="materials-information-text">{{ material.thirdpart|raw }}</div>                
              </div>

              <div class="materials-information-end">
                <a href="#start" class="materials-information-link">К началу статьи</a>
                <div class="details-top flex">
                  <p class="details-title">Читать подробно</p>
                  <i class="arrow_down-white"></i>
                </div>
              </div>

              <div class="details-bottom flex opacity">
                <ul class="details-list list-reset">
                  <li class="details-item">
                    <a href="uploads/files/{{ material.pdf }}" class="details-link" 
                    target="_blank">Открыть файл</a>
                  </li>
                  <li class="details-item">
                    <a href="uploads/files/{{ material.ptx }}" class="details-link" 
                    target="_blank">Открыть презентацию</a>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
            
          </div>
          
        </div>
      </div>
    </section>

{% endblock %}
